<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style class="fox_global_style">
        div.fox_html_content {
            line-height: 1.5;
        }

        /* 一些默认样式 */
        blockquote {
            margin-Top: 0px;
            margin-Bottom: 0px;
            margin-Left: 0.5em
        }

        ol, ul {
            margin-Top: 0px;
            margin-Bottom: 0px;
            list-style-position: inside;
        }

        p {
            margin-Top: 0px;
            margin-Bottom: 0px
        }
    </style>
</head>
<body>
<span style="font-family: Microsoft YaHei UI, Tahoma;" th:text="${content}"></span>
<br/>
<div style="MARGIN: 10px; FONT-FAMILY: verdana; FONT-SIZE: 10pt">
    <div style="font-family: 微软雅黑; font-size: 14px; line-height: 21px;">
        <div style="position: static !important; margin: 10px; font-family: verdana; font-size: 10pt;"><p
                class="MsoNormal" align="left"
                style="margin-right: 0cm; margin-left: 0cm; font-size: 14px; font-family: Calibri, sans-serif; line-height: normal;">
            <b><i><span lang="EN-US"
                        style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(31, 73, 125);"></span></i></b>
        </p>
            <p class="MsoNormal" align="left"
               style="margin-right: 0cm; margin-left: 0cm; font-size: 14px; font-family: Calibri, sans-serif; line-height: normal;">
                <b><i><span lang="EN-US"
                            style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(31, 73, 125);">WeCan<br></span></i></b><br>
            </p>
            <p class="MsoNormal" align="left"
               style="margin-right: 0cm; margin-left: 0cm; font-size: 14px; font-family: Calibri, sans-serif; line-height: normal;">
                <b><i><span lang="EN-US"
                            style="font-size: 12pt; font-family: Arial, sans-serif; color: rgb(31, 73, 125);">&nbsp;</span></i></b>
            </p>
            <p class="MsoNormal" align="left"
               style="margin-right: 0cm; margin-left: 0cm; font-size: 14px; font-family: Calibri, sans-serif; line-height: normal;">
                <b><i><span lang="EN-US"
                            style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 78, 121);">Email:&nbsp;<u><span
                        style="color: blue;"><a href="mailto:paddypansh@wecanintl.com"
                                                style="text-decoration: none !important;">mail@wecanintl.com</a></span></u>&nbsp;&nbsp;&nbsp;&nbsp;WebSite:<span
                        style="color: blue;"><a href="http://www.wecanintl.com/"
                                                style="text-decoration: none !important;">&nbsp;http://www.wecanintl.com</a></span></span></i></b><b><span
                    lang="EN-US" style="font-size: 12pt; color: rgb(31, 78, 121);"></span></b></p>
            <p class="MsoNormal" align="left"
               style="margin-right: 0cm; margin-left: 0cm; font-size: 14px; font-family: Calibri, sans-serif; line-height: normal;">
                <b><span lang="EN-US" style="font-size: 12pt; color: rgb(31, 78, 121);">&nbsp;</span></b></p>
            <p class="MsoNormal" align="left"
               style="margin-right: 0cm; margin-left: 0cm; font-size: 10.5pt; font-family: Calibri, sans-serif; text-align: justify;">
                <img src="file:///C:/Foxmail%207.2/Global/Signatures/images/16561_InsertPic_(03-23-14-48-38).jpg"
                     border="0" style="max-width: 100%; height: auto !important;"></p>
            <p class="MsoNormal" align="left"
               style="margin: 0cm 0cm 0.0001pt; font-size: 10.5pt; text-align: justify; font-family: Calibri, sans-serif;">
                <i><span lang="EN-US"
                         style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 73, 125);">Northern China:&nbsp;&nbsp;&nbsp;Beijing / Qingdao / Zhengzhou</span></i>
            </p>
            <p class="MsoNormal" align="left"
               style="margin: 0cm 0cm 0.0001pt; font-size: 10.5pt; text-align: justify; font-family: Calibri, sans-serif;">
                <i style="font-size: 10.5pt; line-height: 1.5; background-color: transparent;"><span lang="EN-US"
                                                                                                     style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 73, 125);">Eastern China:&nbsp;&nbsp;&nbsp;&nbsp;Shanghai / Hangzhou / Ningbo / Nanjing / Wuxi</span></i>
            </p>
            <p class="MsoNormal" align="left"
               style="margin: 0cm 0cm 0.0001pt; font-size: 10.5pt; text-align: justify; font-family: Calibri, sans-serif;">
                <i><span lang="EN-US"
                         style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 73, 125);">Middle China:&nbsp;&nbsp;&nbsp;&nbsp;Kunming / Chongqing / Chengdu / Xian</span></i>
            </p>
            <p class="MsoNormal" align="left"
               style="margin: 0cm 0cm 0.0001pt; font-size: 10.5pt; text-align: justify; font-family: Calibri, sans-serif;">
                <i><span lang="EN-US"
                         style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 73, 125);">Southern China:&nbsp;&nbsp;Wuhan / Xiamen / Guangzhou / Shenzhen</span></i>
            </p>
            <p class="MsoNormal" align="left"
               style="margin: 0cm 0cm 0.0001pt; font-size: 10.5pt; text-align: justify; font-family: Calibri, sans-serif;">
                <i><span lang="EN-US"
                         style="font-size: 12pt; font-family: 'Times New Roman', serif; color: rgb(31, 73, 125);">Overseas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HongKong / Los Angeles / Ho Chi Minh</span></i>
            </p>
            <p class="MsoNormal"
               style="margin: 0pt 0pt 0.0001pt; text-align: justify; font-family: Calibri; font-size: 10.5pt; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                <span style="color: rgb(31, 73, 125); font-size: 10pt;">***********************************************************************************</span>
            </p></div>
    </div>
</div>
</body>
</html>