.input-item {
  width: 280px;
  min-width: 280px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.input-title {
  color: #333;
  width: 110px;
  text-align: right;
  flex-shrink: 0;
  padding-right: 5px
}

.input-content {
  flex-grow: 1;
  position: relative;
}
