.tableWraper {
  width: 100%;
  height: 100%;
  //height:calc(100% - 120px);


  overflow-y: auto;
}

.download {
  display: inline-block;
  height: 14px;
  width: 14px;
  cursor: pointer;
  background: url('/boStatic/images/down.png') no-repeat center;

  &:hover {
    background: url('/boStatic/images/downActive.png') no-repeat center;
  }
}

.detail {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  line-height: 18px;
  color: #222;

  &:hover {
    color: #fff;
    background: #116cf3;
  }
}


 .reason {
   h3 {
     font-size: 18px;
     color: #004d84;
   }

   .el-dialog__body {
     padding: 8px 40px;
   }

   .orderNo {
     margin-top: 12px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e8e8e8;
     font-size: 13px;
     margin-bottom: 12px;

     &:after {
       content: '';
       display: block;
       clear: both
     }
   }

   ul li {
     display: inline-block;
     width: 100px;
     text-align: left;
     color: #999
   }

   .costItems {
     margin-top: 16px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e8e8e8;
     overflow: hidden;

     li {
       display: inline-block;
       cursor: pointer;
       padding-right: 16px;
       width: auto;

       &:hover {
         color: #004d84
       }

       /deep/.el-badge__content.is-fixed.is-dot {
         right: 2px;
       }

       /deep/.el-badge__content.is-fixed {
         top: 3px;
         transform: translateY(-46%) translateX(100%);
       }

       /deep/.el-badge {
         vertical-align: inherit;
       }
     }

     .el-icon-caret-left {
       font-size: 16px;
       cursor: pointer;

       &:hover {
         color: #004d84
       }
     }

     .el-icon-caret-right {
       font-size: 16px;
       cursor: pointer;
       margin-left: -8px;

       &:hover {
         color: #004d84
       }
     }

   }

 }

 .tickets {
   &:hover {
     color: #116cf3;
   }
 }

 .receive {
   &:hover {
     color: #116cf3;
   }
 }