/* CSS Document */

* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "方正晶宋";
  /* src: url("../boStatic/方正晶宋.ttf"); */
  src: url("./方正晶宋.ttf");
}



a:focus {
  outline: none;
  text-decoration: none;
  color: #fff;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  max-height: max-content;
}

ul {
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #747474;
}

::-webkit-scrollbar-corner {
  background: #f6f6f6;
}




/* .disabled {
  position: relative;
}


.disabled::before, .disabled::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

.disabled::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;

}

.disabled::after {
  content: '此状态下不可编辑！';
  font-family: 'Microsoft YaHei', 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 1em -.5em rgba(0, 0, 0, 0.15);
  color: #fff;
  z-index: 1000;
}



.disabled:hover::before, .disabled:hover::after {
  display: block;
}

[tooltip='']::before, [tooltip='']::after {
  display: none !important;
}



.disabled::before, .disabled::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #46b8da;
}

.disabled::after, .disabled::after {
  background-color: #46b8da;
  bottom: calc(100% + 5px);
}

.disabled::before, .disabled::after {
  left: 50%;
  -webkit-transform: translate(-50%, -.5em);
  transform: translate(-50%, -.5em);
}




@-webkit-keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes tooltips-horz {
  to {
    opacity: .9;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}



.disabled:hover::before, .disabled:hover::after {
  -webkit-animation: tooltips-vert 300ms ease-out forwards;
  animation: tooltips-vert 300ms ease-out forwards;
}
 */


